/Cours0/.vs
/Cours0/Debug
/Cours1/.vs
/Cours1/Debug
/Cours2/.vs
/Cours2/Debug
/Cours3/.vs
/Cours3/Debug

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
